PORT=3000
DATABASE_URL="mysql://nestuser:ukl-db-local-2026@localhost:3306/ukl_recipe_app"
JWT_SECRET="ukl-recipe-local-development-secret-2026"
JWT_EXPIRES_IN="1d"
ALLOWED_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"
ADMIN_NAME="Admin UKL"
ADMIN_EMAIL="admin@uklrecipe.com"
ADMIN_PASSWORD="Admin12345"

# Hanya diperlukan jika menjalankan MySQL lewat Docker Compose
MYSQL_ROOT_PASSWORD="ukl-root-local-2026"
MYSQL_DATABASE="ukl_recipe_app"
MYSQL_USER="nestuser"
MYSQL_PASSWORD="ukl-db-local-2026"
